.block_with_titles {
    margin-top: 3vw;
    margin-bottom: 3vw;
    @apply flex flex-col p-4 border-l-2 border-b-2 border-main-border;
    user-select: none;
}

.title {
    @apply block content-center font-bold text-3xl uppercase my-2 text-center;
    font-size: 8vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    user-select: none;
}

.title_with_bg {
    @apply font-bold p-4 underline underline-offset-8;
    margin-left: 4vw;
    user-select: none;
}