@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Bellota Text', cursive;
    /*font-family: 'Poiret One', cursive;*/
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.m_plus_rounded {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}