nav {
    @apply border-main-border border-2 rounded-md p-5;
    /* sm */
    @apply sm:m-0;
}

ul {
    @apply m-0 p-0 flex;
}

a {
    @apply block decoration-0 ml-5;
}

a:hover {
    @apply text-white;
}

.name {
    @apply text-main-text font-bold text-xl;
    /* hover */
    @apply hover:text-black hover:outline-2;
    user-select: none;
}

.btn_select_city {
    @apply cursor-pointer text-main-text;
}

.area_visible_city {
    @apply content-center;
}

.btn_selected {
    @apply flex text-white border-2 border-white p-0.5 ml-3 rounded-md;
}

.city {
    @apply my-0.5;
    text-align: right;
}

.menu_btn {
    @apply select-none;
}