.item_carousel {
    @apply border-2 rounded-md border-red-500 mx-2;
}

.item_carousel > * {
    @apply cursor-pointer;
}

.slide {
    @apply border-2 border-main-border rounded-md text-center;
    /* hover */
    @apply hover:shadow-black hover:shadow-md duration-500;
}

.slide:hover{
    @apply duration-500;
    -webkit-box-shadow: 4px 4px 19px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 19px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 19px 1px rgba(34, 60, 80, 0.2);
}

.description {
    @apply text-xs text-center;
}